.tag {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 5px;
	border-radius: 20px;
}

.s {
	font-size: 12px;
	line-height: 12px;
	padding: 5px 12px;
}

.m {
	font-size: 14px;
	padding: 5px 12px;
}

.ghost {
	border: 1px solid var(--grey-light);
}

.red {
	color: var(--white);
	background: #DE0000;
	font-weight: bold;
}

.gray {
	color: var(--white);
	background: #B3C0D9;
	font-weight: bold;
}

.green {
	color: var(--green);
	background: var(--green-light);
	font-weight: bold;
}

.primary {
	color: var(--primary);
	background: none;
	font-weight: bold;
	border: 1px solid var(--primary);
}
