.reviewForm {
	font-size: 14px;
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
	align-items: center;
}

.description, .submit {
	grid-column: start /end;
}

.title {
	justify-self: start;
}
.info {
	margin-left: 15px;
}
.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}
.success {
	margin-top: 15px;
	background: var(--green-light);
	padding: 20px;
	position: relative;
	border-radius:5px;
}

.errorBg{
	margin-top: 15px;
	background: rgb(231, 102, 102);
	padding: 20px;
	position: relative;
	border-radius:5px;
}

.successTitle, .errorTitle {
	font-weight: bold;
}
.close, .errorClose {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.errorClose path{
	stroke: var(--red);
}

@media screen and (max-width:1100px){
	.reviewForm {
		grid-template-columns: [start] 1fr 1fr [end];
	}
	.title {
		justify-self: normal;
	}
	.rating {

		grid-column: start/end;
	}
}
@media screen and (max-width:640px){
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}
}

.input {
	padding: 7px 15px;
	color: var(--black);
	border: none;
	outline-color: var(--primary);
	background: var(--white);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	font-size: 16px;
	line-height: 22px;
	font-family: --font-family;
}

.input ::placeholder {
	color: var(--gray);
}

.textarea {
	width: 100%;
	padding: 7px 15px;
	color: var(--black);
	border: none;
	outline-color: var(--primary);
	background: var(--white);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	font-size: 16px;
	line-height: 22px;
	font-family: --font-family;
}

.textarea ::placeholder {
	color: var(--gray);
}

.error {
	border: 1px solid var(--red);
}

.inputWrapper {
	position: relative;
}

.errorMessage {
	position:absolute;
	bottom: -18px;
	left: 0;
	color: var(--red);
}