:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #5936E4;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: "Noto Sans", sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: rgb(var(--black));
	background: #F5F6F8;
}

a {
	color: inherit;
	text-decoration: none;
}
